extends layouts/default

block content
  h1 fiveAce slider
  .demo-wrapper
    section
      #fiveAce
        .currentWrapper
          each i in Array(5)
            .item
              img(src="http://unsplash.it/100/100")
              h3 title
              p content paragraph