include mixin/_mixin
doctype html
html(lang="zh-TW")
  head
    meta(charset="utf-8")
    meta(content="width=device-width, initial-scale=1.0", name="viewport")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    

    block pagetitle
      title jquery-fiveAce-slider
    //-StyleSheets
    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild
    style.
      /* FOUT */
      .wf-loading {
        opacity: 0;
      }
      .wf-active {
        opacity: 1;
        transition: .3s all ease-in;
      }
    // build:css styles/fiveAce.css
    link(rel='stylesheet' href='styles/main.css')
    // endbuild
  body
    block content

    //-Scripts
    block scripts
      script(src="scripts/jquery.min.js")
      // build:js scripts/fiveAce.js
      script(src="scripts/bundle.js")
      // endbuild
      script.
        $('#fiveAce').fiveAce();

      // Google Analytics: change UA-XXXXX-X to be your site's ID.
      script.
        //GA
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-68400394-1', 'auto');
        ga('send', 'pageview');